@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "./partials/navbar.css";
@import "./partials/sidebar.css";
@import "./auth/login.css";
@import "./pages/beranda.css";
@import "./pages/master/semester.css";
@import "./pages/master/mata_pelajaran.css";
@import "./pages/akademik/pegawai.css";
@import "./pages/akademik/jadwal_pelajaran.css";
@import "./pages/akademik/prestasi.css";
@import "./pages/akademik/pengumuman.css";

* {
    scrollbar-color: #32344b #c4c9da;
    scrollbar-width: thin;
}

.error-body {
    background-color: #27293a;
    color: white;
}

.error-content-card {
    background-color: #32344b;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 0.8rem 1.5rem 1.5rem;
}

.error-code {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.error-description {
    font-size: 15px;
}

.btn.error-button {
    background-color: #28ad60;
    border-color: #28ad60;
    color: white;
}

.btn.error-button:hover,
.btn.error-button:focus,
.btn.error-button:active {
    background-color: #1c7b44;
    border-color: #1c7b44;
    color: white;
}

.container-fluid.content-container {
    flex: 1;
    padding: 1.5rem;
    margin: 3.3rem 0 0 15rem;
    background-color: #eef0f8;
    overflow-x: hidden;
}

.toast-container {
    top: 4.5rem;
    z-index: 9999;
}

.toast {
    background-color: #28ad60;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.content-card {
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.index-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.modifier-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    margin-left: auto;
}

.order-by-dropdown-toggle::after {
    display: none;
}

.order-by-dropdown-item:hover {
    background-color: rgb(220, 220, 220);
}

.filter-modal-container {
    margin-left: 0.5rem;
}

#filter-modal-close-button:hover {
    background-color: rgb(220, 220, 220);
}

#filter-modal-close-button:focus {
    box-shadow: none;
}

.empty-message {
    background-color: #f2f2f2;
    border: 1px solid #dee2e6;
    font-size: 14px;
}

.empty-message:hover {
    background-color: #ececec;
}

.table {
    margin: 0;
}

tr th,
tr td {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
}

.aksi-column {
    width: 1%;
}

.btn.password-toggle-button {
    background-color: #f8f9fa;
    border-color: #ced4da;
    color: black;
}

.btn.password-toggle-button:hover {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: black;
}

.text-truncate {
    max-width: 15rem;
}

.modal-backdrop {
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-backdrop.show {
    opacity: 1;
}

.modal {
    z-index: 99999999;
}

.modal-dialog {
    padding: 1rem;
}

.modal-content {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.modal-title {
    color: black;
}

.bi.warning-modal-icon {
    font-size: 60px;
}

.pagination {
    margin: 0.5rem 0 0;
}

ul .pagination {
    font-size: 1px;
}

.pagination .page-item .page-link {
    color: black;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: #32344b;
    border-color: #32344b;
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #ececec;
}

.pagination .page-item.active .page-link:hover {
    background-color: #414460;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-bottom: 0;
}

.form-buttons {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.show-buttons {
    margin-top: 1rem;
}

.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 1.5rem;
}

.nav-tabs .nav-item .nav-link:not(.active) {
    color: #6c757d;
}

.nav-tabs .nav-item .nav-link.active {
    font-weight: 500;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button.btn,
a.btn,
td {
    font-size: 14px;
}

.bi-pencil,
.bi-x-lg {
    font-size: 12px;
}

.mini-label {
    font-size: 13.5px;
}

.invalid-feedback {
    font-size: 13.5px;
}

.foto {
    width: 100%;
    max-width: 13rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.image-content {
    max-width: 25rem;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.nilai-input {
    min-width: 5rem;
}

.submit-warning-container {
    align-items: center;
    background-color: rgba(255, 255, 0, 0.126);
    border: 2px solid yellow;
}

.submit-warning-text {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .container-fluid.content-container {
        margin-left: 0;
    }
}

@media (max-width: 620px) {
    .submit-warning-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .submit-warning-text {
        margin-bottom: 1rem;
    }
}

@media (max-width: 490px) {
    .index-buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .modifier-buttons {
        margin: 0.5rem 0 0 auto;
    }
}

@media (max-width: 290px) {
    .filter-modal-container {
        margin: 0.5rem 0 0;
    }
}
