@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "./partials/navbar.css";
@import "./partials/sidebar.css";
@import "./pages/master/semester.css";
@import "./pages/master/mata_pelajaran.css";
@import "./pages/akademik/pegawai.css";
@import "./pages/akademik/prestasi.css";
@import "./pages/akademik/pengumuman.css";

* {
    scrollbar-color: #c1c1c1 white;
}

.container-fluid.content-container {
    flex: 1;
    padding: 1.5rem;
    margin: 3.3rem 0 0 15rem;
    background-color: #f4f5fa;
    overflow-x: hidden;
}

.toast-container {
    top: 4.5rem;
    z-index: 2000;
}

.toast {
    background-color: #28ad60;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.content-card {
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.table {
    margin: 0;
}

tr th,
tr td {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
}

.aksi-column {
    width: 1%;
}

.modal-backdrop.show {
    opacity: 1; 
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);  
}

.modal-title {
    color: black;
}

.modal-content {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.bi.warning-modal-icon {
    font-size: 60px;
}

.pagination {
    margin: 0.5rem 0 0;
}

ul .pagination {
    font-size: 1px;
}

.pagination .page-item .page-link {
    color: black;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: #32344b;
    border-color: #32344b;
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #ececec;
}

.pagination .page-item.active .page-link:hover {
    background-color: #414460;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin-bottom: 0;
}

.input-button-group {
    margin-top: 1.5rem;
}

.show-button-group {
    margin-top: 1rem;
}

.nav-tabs {
    margin-top: 1.5rem;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button.btn,
a.btn,
td {
    font-size: 14px;
}

.bi-pencil,
.bi-x-lg {
    font-size: 12px;
}

.mini-label {
    font-size: 13.5px;
}

.invalid-feedback {
    font-size: 13.5px;
}

.foto {
    max-width: 15rem;
    width: 100%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .container-fluid.content-container {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .container-fluid.content-container {
        padding: 1rem;
    }

    .modal-dialog {
        margin: 0;
        padding: 1rem;
    }
}
