.col-sm-6.col-lg-3 {
    margin: 0 0 1rem 0;
}

.icon-count-card {
    position: absolute;
    opacity: 0.5;
    right: 1.5rem;
    top: 0.2rem;
    font-size: 60px;
}

.pegawai-count-card,
.siswa-count-card,
.kelas-count-card,
.semester-count-card,
.mata-pelajaran-count-card,
.ekstrakurikuler-count-card,
.prestasi-count-card,
.pengumuman-count-card {
    color: white;
}

.pegawai-count-card-link,
.siswa-count-card-link,
.kelas-count-card-link,
.semester-count-card-link,
.mata-pelajaran-count-card-link,
.ekstrakurikuler-count-card-link,
.prestasi-count-card-link,
.pengumuman-count-card-link {
    font-size: 14px;
    border-radius: 0 0 12px 12px;
}

.content-card.pegawai-count-card {
    background-color: #007bff;
}

.pegawai-count-card-link {
    background-color: #0072ec;
    color: #fff;
    transition: background-color 0.2s ease;
}

.pegawai-count-card-link:hover {
    background-color: #0362c7;
}

.content-card.siswa-count-card {
    background-color: #28a745;
}

.siswa-count-card-link {
    background-color: #228a39;
    color: #fff;
    transition: background-color 0.2s ease;
}

.siswa-count-card-link:hover {
    background-color: #1c7230;
}

.content-card.kelas-count-card {
    background-color: #fd7e14;
}

.kelas-count-card-link {
    background-color: #d8690e;
    color: #fff;
    transition: background-color 0.2s ease;
}

.kelas-count-card-link:hover {
    background-color: #b05a13;
}

.content-card.semester-count-card {
    background-color: #6f42c1;
}

.semester-count-card-link {
    background-color: #56329a;
    color: #fff;
    transition: background-color 0.2s ease;
}

.semester-count-card-link:hover {
    background-color: #482c80;
}

.content-card.mata-pelajaran-count-card {
    background-color: #1bb184;
}

.mata-pelajaran-count-card-link {
    background-color: #18946f;
    color: #fff;
    transition: background-color 0.2s ease;
}

.mata-pelajaran-count-card-link:hover {
    background-color: #187e61;
}

.content-card.ekstrakurikuler-count-card {
    background-color: #e63849;
}

.ekstrakurikuler-count-card-link {
    background-color: #b41f2e;
    color: #fff;
    transition: background-color 0.2s ease;
}

.ekstrakurikuler-count-card-link:hover {
    background-color: #951a24;
}

.content-card.prestasi-count-card {
    background-color: #17a2b8;
}

.prestasi-count-card-link {
    background-color: #117f8f;
    color: #fff;
    transition: background-color 0.2s ease;
}

.prestasi-count-card-link:hover {
    background-color: #136976;
}

.content-card.pengumuman-count-card {
    background-color: #454c51;
}

.pengumuman-count-card-link {
    background-color: #2e3237;
    color: #fff;
    transition: background-color 0.2s ease;
}

.pengumuman-count-card-link:hover {
    background-color: #1c1e20;
}

.pegawai-distribution-color-box-label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 2px;
}

.staf-tata-usaha-color-box-label {
    background-color: #007bff;
}

.guru-color-box-label {
    background-color: #28a745;
}

.pegawai-perpustakaan-color-box-label {
    background-color: #fd7e14;
}

.satuan-pengamanan-color-box-label {
    background-color: #6f42c1;
}

.pegawai-kebersihan-color-box-label {
    background-color: #e63849;
}

.pegawai-distribution-list li {
    display: flex;
    align-items: center;
}

.pegawai-distribution-count-label {
    margin-left: auto;
}

#prestasi-improvement-tahun-select {
    width: 6rem;
}

.pengumuman-item {
    transition: background-color 0.15s ease-in-out;
}

.pengumuman-item:hover {
    background-color: #e9ecef;
}

#semester-calendar .fc-header-toolbar {
    margin: 1rem 0;
}

.fc-toolbar-chunk .fc-toolbar-title {
    font-size: 20px;
}

.fc-today-button.fc-button.fc-button-primary,
.fc-button.fc-button-primary {
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    opacity: 1;
    background-color: #32344b;
    border-color: #32344b;
    border-radius: 6px;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.fc-header-toolbar .fc-toolbar-chunk .fc-button-group {
    margin-left: 0.5rem;
}

.fc-today-button.fc-button.fc-button-primary:hover,
.fc-toolbar-chunk .fc-today-button.fc-button.fc-button-primary:active,
.fc-button.fc-button-primary:hover,
.fc-toolbar-chunk .fc-button-group .fc-button.fc-button-primary:active {
    background-color: #414460;
    border-color: #414460;
}

.fc-toolbar-chunk .fc-today-button.fc-button.fc-button-primary:focus,
.fc-toolbar-chunk .fc-button-group .fc-button.fc-button-primary:focus {
    box-shadow: none;
}

.fc-button-group .fc-button {
    border: none;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: black;
    text-decoration: none;
}

.fc-event-time {
    display: none;
}

.active-users-container {
    max-height: 30rem;
    overflow-y: auto;
}

@media (max-width: 440px) {
    #semester-calendar .fc-header-toolbar {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .fc-toolbar-chunk .fc-toolbar-title {
        margin-top: 1rem;
    }
}
