.nilai-submit-container {
    align-items: center;
    background-color: rgba(255, 255, 0, 0.126);
    border: 2px solid yellow;
}

.nilai-submit-warning-text {
    margin-bottom: 0;
}

@media (max-width: 620px) {
    .nilai-submit-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .nilai-submit-warning-text {
        margin-bottom: 1rem;
    }
}
