* {
  scrollbar-color: #c1c1c1 white;
}

.container-fluid.content-container {
  flex: 1;
  padding: 1.5rem;
  margin: 3.3rem 0 0 15rem;
  background-color: #f4f5fa;
  overflow-x: hidden;
}

.content-card {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.text-truncate {
  max-width: 7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aksi-column {
  width: 1%;
}

tr th, tr td {
  vertical-align: middle;
  white-space: nowrap;
}

button.btn, a.btn, td {
  font-size: 14px;
}

.bi-pencil, .bi-x-lg {
  font-size: 12px;
}

.mini-label {
  font-size: 12px;
}

@media (max-width: 992px) {
  .container-fluid.content-container {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .container-fluid.content-container {
    padding: 1rem;
  }
}